@import url('https://fonts.googleapis.com/css?family=K2D:400,700&display=swap')

charleston-green = #2a2b2a
cg = charleston-green
dim-gray = #706c61
linen = #f8f4e3
paradise-pink = #e5446d
pink-orange = #ff8966
po = pink-orange

body
  background linen
  color dim-gray
  font-family "K2D", "Open Sans", sans-serif
  > div
    max-width 720px
    margin 0 auto

.model
  position absolute
  height 4rem
  padding-top auto

button
  background-color paradise-pink
  width 3em
  height 3em
  position fixed
  top 1em
  right 1em
  border none
  border-radius 20%

.name
  font-weight bold
  color charleston-green
  background-clip text
  color transparent
  :first-child > &
    color pink-orange
  &.tisa
    background-image linear-gradient(120deg, cg, cg 17%, po 17%)
  &.tisa-slana
    background-image linear-gradient(0deg, cg, cg 17%, po 17%, po 30%, cg 30%, cg 32%, po 32%, po 34%, cg 34%)
  &.tisa-bodrog
    background-image linear-gradient(0deg, cg, cg 17%, po 17%, po 30%, cg 30%, cg 32%, po 32%, po 34%, cg 34%)
